body {
  font-size: 16px;
}

.header {
  height: 25%;
}

/** Map assets */

.ol-zoom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.ol-zoom-in,
.ol-zoom-out {
  background-color: #553c9a;
  padding: 5px 10px;
  color: #FFF;
  margin: 5px;
  border-radius: 5px;
}

.ol-attribution,
.ol-compass {
  display: none;
}

.map-container {
  height: 75%;
}

.ol-popup {
  display: none;
  position: absolute;
  background-color: white;
  padding: 15px 25px 15px 15px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .50);
}

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-content {
  min-width: 170px;
  max-height: 200px;
  overflow-x: auto;
}

.ol-popup-closer {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 150%;
  padding: 0 4px;
  color: gray;
  text-decoration: none;
}

.ol-popup-closer:hover,
.ol-popup-closer:focus {
  text-decoration: none;
}

.ol-popup-closer:after {
  content: "\2716";
}

.ol-popup div.infoResult {
  min-width: 130px;
}

.ol-popup div.infoResult p {
  padding: 0.1em;
  margin: 0;
}

.ol-popup-content h3 {
  margin: 0.25em 0;
}

.ol-popup.marker {
  margin-bottom: 30px;
}

.map {
  width: 100%;
}

.marker {
  width: 25px;
  height: 34px;
  border-radius: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
}

.full {
  background-image: url('/images/station_full.png');
}

.empty {
  background-image: url('/images/station_empty.png');
}

.healthy {
  background-image: url('/images/station_healthy.png');
}

.user {
  background-image: url('/images/user.png'); 
}

.weather-widget {
  width: 250px;  
  bottom: 15px; 
  right: 15px
}

